@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: var(--weight-normal) normal 1em Poppins, serif;
}

:root {
  --primary-hue: 11;
  --primary-saturation: 80%;
  --primary-lightness: 50%;

  --primary-colour: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
  --primary-colour-hover: hsl(var(--primary-hue), var(--primary-saturation), 40%);

  --weight-light: 300;
  --weight-normal: 400;
  --weight-bold: 600;
  --weight-black: 900;

  --bg-colour-primary: hsl(0, 0%, 10%);
  --bg-colour-secondary: hsl(0, 0%, 5%);

  --text-color: hsl(0, 0%, 100%);
  --text-color-hover: hsl(0, 0%, 80%);

  --header-height-desktop: 64px;
}

body{
  background-color: var(--bg-colour-primary);
}

.icon {
  display: flex;
  align-items: center;
}

.body{
  position: absolute;
  min-height: calc(100% - var(--header-height-desktop));
  width: 100%;
  top: var(--header-height-desktop);
  padding: 20px;
  color: var(--text-color);
}